.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  h1 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }
}

.disclaimerContainer {
  padding: 32px;
  border-radius: 16px;
  background-color: #ffffffc7;
  color: #000;
  width: 100%;
  max-width: 1000px;
}

.disclaimer {
  font-size: 36px;
  margin: 0px;
  margin-bottom: 16px;
}

.repoContainer {
  display: flex;
  gap: 16px;
  align-items: center;
  color: #0071e3;
  cursor: pointer;
  margin-bottom: 32px;
}

.repoContainer:hover {
  color: #6538c4;
}

.repoLink {
  font-size: 72px;
  text-decoration: underline;
}

.videoContainer {
  height: 40vh;
  border-radius: 8px;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .disclaimerContainer {
    width: auto;
  }
}

@media (max-width: 720px) {
  .container {
    margin: 16px;
  }
}

@media (max-width: 768px) {
  .repoLink {
    font-size: 42px;
  }
  .disclaimerContainer {
    width: auto;
  }
}

@media (max-width: 500px) {
  .repoLink {
    font-size: 32px;
  }
  .disclaimerContainer {
    padding: 16px;
  }
  .videoHeader {
    font-size: 22px;
  }
  .disclaimer {
    font-size: 28px;
  }

  .repoContainer {
    gap: 8px;
  }
  .ghIcon {
    height: 32px;
    width: 32px;
  }
}
