@use "dimensions";
@use "palette";

.navbar {
  height: dimensions.$navbarW;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  background: palette.$colorBackground;
  align-items: center;
  z-index: 1;
  transition: 1s;
  border-bottom: rgba(64, 64, 67, 100) solid 1px;
}

.scrolled {
  background-color: palette.$colorBackgroundBlurred;
  backdrop-filter: blur(5px);
  border-bottom: rgba(64, 64, 67, 0) solid 0px;
}

.navbarLeftItems {
  margin-left: 16px;
}

.navbarRightItems {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-right: 16px;
}
