.container {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 16px;
  gap: 8px;
  text-align: justify;
}

.container p {
  margin: 0px;
}

.emoticon {
  font-size: 24px;
}

.bullet {
  display: grid;
  place-content: center;
}
