.sidebar {
  height: 100%;
  background-color: #1d202b;
  place-content: center;
  padding-top: 32px;
}

.header {
  text-align: center;
}

.title {
  margin: 0;
}

.subtitle {
  margin: 0 0 32px 0;
  font-weight: 700;
  color: #f27e39;
}
