@use "palette";
@use "dimensions";

.container {
  border-radius: dimensions.$cardBorderRadius;
  padding: 32px;
  box-sizing: border-box;
  background-image: radial-gradient(at 3% 39%, #b06d7e 0px, transparent 50%),
    radial-gradient(at 90% 76%, #8785ff 0px, transparent 50%);
  color: #fff;
}

.header {
  margin-bottom: 24px;
}

.header h1 {
  font-size: 36px;
  font-weight: inherit;
}

.header p {
  margin: 0px;
}

.text {
  margin: 0px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.buttons button {
  border: none;
  color: #3aacee;
  background-color: #1945746f;
  font-weight: 600;
  font-family: inherit;
  padding: 16px;
  border-radius: 12px;
  transition: 0.5s;
}

.buttons button:hover {
  cursor: pointer;
  background-color: #005d92;
  color: #fff;
}
