@use "palette";
@use "dimensions";

.container {
  border-radius: dimensions.$cardBorderRadius;
  padding: 32px;
  box-sizing: border-box;
  background-image: radial-gradient(at 3% 39%, #b06d7e 0px, transparent 50%),
    radial-gradient(at 90% 76%, #8785ff 0px, transparent 50%);
  color: #fff;
}

.header {
  margin-bottom: 24px;
}

.header h1 {
  font-size: 36px;
  font-weight: inherit;
}

.header p {
  margin: 0px;
}

.text {
  margin: 0px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-end;
}

.button {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  padding: 16px;
  border: none;
  border-radius: 12px;
  background-color: #00000031;
  color: #27c9ff;
  font-family: inherit;
  font-weight: 700;
  font-size: small;
  transition: 0.5s;
}

.button:hover {
  cursor: pointer;
  background-color: #3b92cf;
  color: #fff;
}
