@use "palette";

.container {
}

.header {
}

.layout {
  display: grid;
  grid-template-columns: 33.3333% auto;
  gap: 16px;
}

@media (max-width: 720px) {
  .layout {
    grid-template-columns: 100%;
  }

  .carouselContainer {
    height: 100%;
  }
}
