@use "index";
@use "dimensions";

.navbar {
  background-color: index.$backgroundNavbar;
  height: dimensions.$navbarH;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
}

.navbarLeft {
  margin-right: auto;
  padding-left: 32px;
}

.navbarRight {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-right: 32px;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: grid;
  place-items: center;
  position: fixed;
  margin: 16px;
  width: dimensions.$sidebarW;
  height: 100%;
}

@media (max-width: 768px) {
  .container {
    display: flex;
  }
}

.content {
  height: 100%;
  width: 100%;
  margin-left: calc(dimensions.$sidebarW + 16px * 2);
  margin-top: calc(dimensions.$navbarH + 32px);
  margin-right: 16px;
  gap: 32px;
  background-color: #121212;
}
