@use "dimensions";

.main {
  width: 100%;
  display: grid;
  justify-content: center;
  margin-top: 24px;
}

.container {
  width: 1100px;
}

.header {
  display: grid;
  grid-template-columns: 25% auto;
  gap: 32px;
  margin-bottom: dimensions.$defaultGap;
}

.imageContainer {
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.image {
  position: absolute;
  left: -56%;
}

.content {
  display: grid;
  grid-template-columns: 50% auto;
  gap: dimensions.$defaultGap;
}

.cardContainerHeader {
  height: 400px;
  border-radius: 32px;
  background-color: thistle;
}

.cardContainer {
  background-color: darkslategrey;
  border-radius: 32px;
  height: calc(400px - 32px * 2);
  padding: 32px;
  transition: transform 0.25s ease-in-out;
}

.cardContainer:hover {
  transform: scale(102%);
  cursor: pointer;
}
