.navbar {
  background-color: #22262f;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
}

.navbarLeft {
  margin-right: auto;
  padding-left: 32px;
}

.navbarRight {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-right: 32px;
}

.container {
  display: grid;
  grid-template-columns: 480px auto;
  min-height: calc(100vh - 56px);
}

@media (max-width: 768px) {
  .container {
    display: flex;
  }
}

.content {
  height: 100%;
}
