.container {
  display: grid;
  grid-template-columns: 10% auto;
  margin-bottom: 32px;
}

.emoticon {
  display: grid;
  place-content: center;
  font-size: 36px;
}

.text {
  display: grid;
  place-content: center;
  padding-left: 8px;
}
