@use "index";
@use "dimensions";

.sidebar {
  border: index.$backgroundAccent solid 1px;
  border-radius: 36px;
  padding: 16px;
  width: calc(dimensions.$sidebarW - 16px * 2);
}

.header {
  padding: 8px 0px 16px 0px;
}

.imageContainer {
  width: 100%;
  display: grid;
  place-content: center;
}