$primary: #8928e9;
$background: #1F1F1F;
$background2: #090619;
$backgroundAccent: #565656;
$backgroundNavbar: #1F1F1F;
$text: #edf3ff;
$back: #6b8a8f;
$overlay: rgba(0, 0, 0, 70%);

$primary: #f27e39;
$backgroundold: #191d27;
$background2old: #22262f;
$backgroundAccentold: #363840;
$backgroundNavbarold: #22262f;
$text: #edf3ff;
$back: #6b8a8f;
$overlay: rgba(0, 0, 0, 70%);
