@use "dimensions";
@use "palette";

.container {
  height: 100%;
  background-color: palette.$projectBackgroundColor;
  border-radius: dimensions.$cardBorderRadius;
  padding-bottom: 0px;
  box-sizing: border-box;
  transition: transform 0.25s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 6px;
}

.container:hover {
  transform: scale(102%);
  cursor: pointer;
  position: relative;

  .awardIcon {
    width: 40px;
    height: 40px;
  }

  .awardText {
    margin-left: 44px;
  }

  .title.withAward {
    margin-left: 44px;
  }
}

.link {
  color: inherit;
  text-decoration: inherit;
}

.header {
  margin-top: dimensions.$cardPadding;
  margin-right: dimensions.$cardPadding;
  margin-bottom: 0px;
  margin-left: dimensions.$cardPadding;
  position: relative;
}

.header.withAward {
  margin-top: calc(dimensions.$cardPadding - 10px);
}

.awardIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  transition: all 500ms;
}

.awardText {
  margin: 0;
  margin-left: 24px;
  transition: all 500ms;
}

.title {
  margin: 0px;
  transition: all 500ms;
}

.subtitle {
  margin: 4px dimensions.$cardPadding 8px dimensions.$cardPadding;
}

.imageContainer {
  position: relative;
  flex-grow: 1;
  justify-content: flex-end;
  margin-top: auto;
}

.image {
  object-fit: contain;
}
