@use "dimensions";
@use "palette";

.container {
  height: 100%;
  background-color: #181818e9;
  border-radius: dimensions.$cardBorderRadius;
  padding: 32px;
  box-sizing: border-box;
  transition: transform 0.25s ease-in-out;
}

.container:hover {
  transform: scale(102%);
  cursor: pointer;
}

.link {
  color: inherit;
  text-decoration: inherit;
}
